
body {
  margin: 0;
  padding: 0;
  font-family: 'Work sans', sans-serif;
  height:100vh;
   background:rgb(255, 250, 247); 
}









.main-header {
  font-style: 'Work sans', sans-serif;
  width: 100%;
  height: 108px;
  background: tomato;
  position:fixed;
  text-align:center;
  padding-top:12px;
  z-index:1;
}

  .main-header div {
  height:100%;
}  

.main-header h2 {
  font-size: xx-large;
  display:inline;
}

.main-header p {
  font-size:42px;
  font-weight:400;
  display:inline;
}

.header-nav {
  height:16px;
  width:300px;
  float:right;
  display:flex;
  margin-right:100px;
}

.header-nav div {
  height:24px;
  width:100px;
  border:solid 1px darkslategray;
  background:linear-gradient(to bottom, rgba(53,106,160,1) 0%,rgba(53,106,160,1) 100%);
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-between;
}




.home-color {
  width:98px;
  height:8px;
  background:rgb(29, 214, 207);
}

.home-button h5 {
  font-weight:400;
  margin:0 auto;
}

.home-button:hover {
  animation:nav-grow .12s;
  animation-timing-function:linear;
  animation-delay:0s;
  animation-fill-mode:forwards;
  animation-iteration-count: 1;
}

.home-button:hover box {
  background:rgb(122, 249, 160);
}




.search-color {
  width:98px;
  height:8px;
  background:rgb(29, 149, 214);
}

.search-button h5 {
  font-weight:400;
  margin:0 auto;
}

.search-button:hover {
  animation:nav-grow .12s;
  animation-timing-function:linear;
  animation-delay:0s;
  animation-fill-mode:forwards;
  animation-iteration-count: 1;
}

.search-button:hover box {
  background:rgb(122, 249, 160);
}




.code-color {
  width:98px;
  height:8px;
  background:rgb(169, 94, 201);
}

.code-button h5 {
  font-weight:400;
  margin:0 auto;
}

.code-button:hover {
  animation:nav-grow .12s;
  animation-timing-function:linear;
  animation-delay:0s;
  animation-fill-mode:forwards;
  animation-iteration-count: 1;
}

.code-button:hover box {
  background:rgb(122, 249, 160);
}

@keyframes nav-grow {
  from{height:24px;}
  to{height:32px;
    padding-bottom:8px;}
}








.site-wrapper {
  width:100%;
  height:100%;
  position:relative;
  background:url(./../img/beach-scene-one-edit.jpg) top center; 
  /* background-size:100% 42%; */
  background-repeat:no-repeat;
}

 .content-wrapper {
  display:flex;
  flex-direction:column; 
} 















.search-wrapper {
  height:890px;
  width:100%;
  /* background:lightblue; */
}

.search-wrapper p {
  font-size:x-large;
  display:flex;
  flex-direction:column;
  align-items:center;
}

.search-comp {
    height:fit-content;
    width:fit-content;
    background: linear-gradient(to bottom, rgba(136,191,232,1) 0%,rgba(112,176,224,1) 100%);
    border-radius:5px;
    margin-top:186px;
    margin-left:10%;
    box-shadow: 10px 10px 41px -13px rgba(0,0,0,0.75);
    z-index:1;
}

.geo-input {
  display:flex;
  justify-content:space-around;
}

.origin {
  display:flex;
  flex-direction:column;
  align-items:center;
  margin:0 16px;
}

.origin input {
  font-size:large;
  width:156px;
}

.destination {
  display:flex;
  flex-direction:column;
  align-items:center;
  margin:0 16px;
}

.destination input {
  font-size:large;
  width:156px;
}

.timeframe-wrapper {
  padding-top:16px;
}

.depart-input {
  display:flex;
  justify-content:center;
   align-items:center; 
}

.return-input {
  display:flex;
  flex-direction:column;
  justify-content:center;
}

.return-input .return-input-line {
  display:flex;
  align-items:center;
  justify-content:center;
}

.time-input input {
  font-size:large;
  margin-left:8px;
  width:132px;
}

.time-input .conditional-text {
  font-size:xx-small;
}

.passengers-wrapper div {
  display:flex;
  flex-direction:column;
  align-items:center;
}

.passengers-wrapper input {
  font-size:large;
  width:32px;
}

.flight-search-button {
  display:flex;
  justify-content:center;
  height:88px;  
}

.flight-search-button button {
  margin-top:24px;
  margin-bottom:24px;
  font-size:large;
  font-family:'Work sans', sans-serif;
  height:39px;
}

.results-text {
  width:100%;
  text-align:center;
  margin-bottom:4px;
}




.search-results-divider {
  width:100%;
  height:169px;
  background: linear-gradient(to right, rgba(0, 169, 166,1) 31%,rgba(15, 162, 182,1) 50%,rgba(0, 169, 166,1) 69%);
  margin-top:2px;
  display:flex;
  align-items:center;
  overflow:hidden;  
  border-top:dashed 4px rgb(175, 246, 247);
  border-bottom:dashed 4px rgb(175, 246, 247);
}

.divider-image {
  background-image:url(./../img/world-travel.jpg);
  height:141px;
  width:621px;
  margin:auto;
}















.results-wrapper-main {
    width:100%;
    height:100vh;
     /* display:flex;
    flex-direction:column;  */
}

.results-container {
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:flex-start;
}

.results-flow {
  width:86%;
  height: 80%;
   margin-top:66px; 
  background: linear-gradient(to bottom, rgba(79,133,187,1) 0%,rgba(79,133,187,1) 100%);
  display:flex; 
  flex-direction:column;
  align-items:center;
  box-shadow: 0px -1px 102px -23px rgba(0,0,0,0.75);
}

.results-body {
  width:100%;
  height:80%;
  overflow:auto;
}

.results-table {
  display:table;
  width:90%;
  text-align:center;
  margin:auto;
   border-collapse:separate;
  border-spacing:0 .5em; 
}



.result-one {
    background:rgb(244, 251, 255);
    border-bottom:solid 1px rgb(30, 121, 160);
    border-top:solid 1px rgb(30, 121, 160);
     border-left:solid 1px rgb(30, 121, 160);
    border-right:solid 1px rgb(30, 121, 160); 
    margin-top:8px;
    z-index:1;
}

.result-one:hover {
  background:white;
}

.result-one td {
  padding:12px;
}

.row-wrapper{
  border:solid 1px black;
}












.footer-main {
  width:100%;
  height:96px;
  background:rgb(19, 41, 68);
}

















@media (max-width: 750px) {
  .geo-input {
    flex-direction:column;
    align-items:center;
  }

  .header-nav {
    margin-right:36px;
  }

  .search-results-divider {
    height:66px;
  }
}

@media (max-width:500px) {
  .search-comp {
    margin:auto;
    margin-top:186px;
  }
}

@media (max-width: 350px) {
  .header-nav {
    margin-right:8px;
  }
}