
body {
  margin: 0;
  padding: 0;
  font-family: 'Work sans', sans-serif;
  height:100vh;
}






.main-header {
  font-style: 'Work sans', sans-serif;
  width: 100%;
  height: 108px;
  background: tomato;
  position: fixed;
  text-align:center;
  padding-top:12px;
  z-index:1;
}

  .main-header div {
  height:100%;
}  

.main-header h2 {
  font-size: xx-large;
  display:inline;
}

.main-header p {
  font-size:42px;
  font-weight:400;
  display:inline;
}

.logo el {
  width:fit-content;
}







.site-wrapper {
  width:100%;
  height:100%;
  position:relative;
  background:url(./../img/beach-scene-one-edit.jpg) top center; 
  /* background-size:100% 42%; */
  background-repeat:no-repeat;
}

 .content-wrapper {
  display:flex;
  flex-direction:column; 
} 





@media (max-width: 750px) {
  .geo-input {
    flex-direction:column;
    align-items:center;
  }

  .site-wrapper {
    background-position: fixed;
  }

}









.search-wrapper {
  height:fit-content;
  width:100%;
  /* background:lightblue; */
}

.search-wrapper p {
  font-size:x-large;
  display:flex;
  flex-direction:column;
  align-items:center;
}

.search-comp {
    height:fit-content;
    width:fit-content;
    background: linear-gradient(to bottom, rgba(136,191,232,1) 0%,rgba(112,176,224,1) 100%);
    border-radius:5px;
    margin-top:186px;
    margin-left:10%;
    box-shadow: 10px 10px 41px -13px rgba(0,0,0,0.75);
}

.geo-input {
  display:flex;
  justify-content:space-around;
}

.origin {
  display:flex;
  flex-direction:column;
  align-items:center;
  margin:0 16px;
}

.origin input {
  font-size:large;
  width:156px;
}

.destination {
  display:flex;
  flex-direction:column;
  align-items:center;
  margin:0 16px;
}

.destination input {
  font-size:large;
  width:156px;
}

.timeframe-wrapper {
  padding-top:16px;
}

.depart-input {
  display:flex;
  justify-content:center;
   align-items:center; 
}

.return-input {
  display:flex;
  flex-direction:column;
  justify-content:center;
}

.return-input .return-input-line {
  display:flex;
  align-items:center;
  justify-content:center;
}

.time-input input {
  font-size:large;
  margin-left:8px;
  width:132px;
}

.time-input .conditional-text {
  font-size:xx-small;
}

.passengers-wrapper div {
  display:flex;
  flex-direction:column;
  align-items:center;
}

.passengers-wrapper input {
  font-size:large;
  width:32px;
}

.search-button {
  display:flex;
  justify-content:center;
}

.search-button button {
  margin-top:24px;
  margin-bottom:24px;
  font-size:large;
  font-family: 'Work sans', sans-serif;
  height:39px;
}



@media (max-width: 350px) {
  .search-comp {
    margin:auto;
    margin-top:186px;
  }
}


.results-wrapper-main {
    width:100%;
    height:100vh;
    /* display:flex;
    flex-direction:column; */
}

.results-container {
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:flex-start;

}

.results-flow {
  width:86%;
  height: 80%;
   margin-top:64px; 
  background:rgba(116, 181, 209, .93);
  display:flex; 
  flex-direction:column;
  align-items:center;
}

.results-body {
  width:100%;
  height:80%;
  overflow:auto;
}

.results-table {
  display:table;
  width:90%;
  text-align:center;
  margin:auto;
   border-collapse:separate;
  border-spacing:0 .5em; 
}



.result-one {
    background:rgb(244, 251, 255);
    border-bottom:solid 1px rgb(30, 121, 160);
    border-top:solid 1px rgb(30, 121, 160);
     border-left:solid 1px rgb(30, 121, 160);
    border-right:solid 1px rgb(30, 121, 160); 
    margin-top:8px;
    z-index:1;
}

.result-one:hover {
  background:white;
}

.result-one td {
  padding:12px;
}

.row-wrapper{
  border:solid 1px black;
}